<!DOCTYPE html>
<html layout:decorate="~{adm/layout/layout}">

<head>
    <title>게시물 리스트</title>
</head>지

<main layout:fragment="main">
    <h1>게시물 리스트</h1>

    <ul>
        <li th:each="article : ${articles}">
            <a th:href="@{|/article/${article.id}|}" th:text="${article.id}"></a>

            <a th:href="@{|/article/${article.id}|}" th:text="${article.subject}"></a>

            <a th:href="@{|/article/${article.id}|}" th:text="${article.extra_member_name}"></a>
        </li>
    </ul>
</main>
</html>